<img src="CollaborativeFiltering_1.svg" />

<img src="Market_Basket_Analysis_surprise_1.svg" />

MovieLens 100K Dataset: https://grouplens.org/datasets/movielens/100k/

In [1]:
import zipfile
zipfile = zipfile.ZipFile('ml-100k.zip', 'r')
zipfile.extractall()
zipfile.close()

Surprice Presentation by Creator N. Hug <br/>
https://www.youtube.com/watch?v=z0dx-YckFko

In [4]:
from surprise import Reader, Dataset
# Define the format
reader = Reader(line_format='user item rating timestamp', sep='\t')
# Load the data from the file using the reader format
data = Dataset.load_from_file('./ml-100k/u.data', reader=reader)

Our algorithm will try to predict the rating of a certain user-movie combination and it will compare that prediction to the actual prediction. The difference between the actual and the predicted rating is measured using classical error measurements such as Root mean squared error (RMSE) and Mean absolute error (MAE).

In [6]:
from surprise import SVD
from surprise.model_selection import cross_validate
algo = SVD()
cross_validate(algo, data, measures=['RMSE', 'MAE'], cv=5, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9270  0.9428  0.9390  0.9340  0.9378  0.9361  0.0054
MAE (testset)     0.7305  0.7413  0.7403  0.7390  0.7407  0.7384  0.0040
Fit time          4.38    4.35    4.40    4.36    4.35    4.37    0.02
Test time         0.17    0.17    0.12    0.16    0.15    0.15    0.02

{'test_rmse': array([0.92697666, 0.94275996, 0.9390027 , 0.93398826, 0.93782622]),
 'test_mae': array([0.73053626, 0.74134758, 0.74034439, 0.73898853, 0.74070687]),
 'fit_time': (4.3780128955841064,
  4.35150408744812,
  4.400048732757568,
  4.3558349609375,
  4.354036808013916),
 'test_time': (0.17226696014404297,
  0.16935992240905762,
  0.11566591262817383,
  0.16158699989318848,
  0.14795207977294922)}

In [8]:
# Retrieve the trainset.
trainset = data.build_full_trainset()
algo.fit(trainset)

In [29]:
userid = str(196)
itemid = str(98)
actual_rating = 5
print(algo.predict(userid, itemid, actual_rating))

user: 196        item: 98         r_ui = 5.00   est = 4.48   {'was_impossible': False}

In [19]:
iterator = trainset.all_ratings()
new_df = pd.DataFrame(columns=['uid', 'iid', 'rating'])
i = 0
for (uid, iid, rating) in iterator:
    new_df.loc[i] = [uid, iid, rating]
    i = i+1

new_df.head(2)

   uid    iid  rating
0  0.0    0.0     3.0
1  0.0  528.0     4.0

In [20]:
new_df.shape

(100000, 3)

In [21]:
new_df[new_df.uid == 196]

         uid    iid  rating
28210  196.0  370.0     2.0
28211  196.0  455.0     3.0
28212  196.0  151.0     4.0
28213  196.0  165.0     4.0
28214  196.0   97.0     5.0
...      ...    ...     ...
28268  196.0  502.0     4.0
28269  196.0  704.0     4.0
28270  196.0   73.0     4.0
28271  196.0   72.0     4.0
28272  196.0   98.0     5.0

[63 rows x 3 columns]